[run]
source =
    Project/Models
    Project/LogicLayer
omit =
    */__init__.py
    Project/LogicLayer/AdminLogic.py
    Project/LogicLayer/LogicLayerAPI.py

[report]
include =
    *Event.py
    *Campus_user.py
    *EventLogic.py
    *CampusUserLogic.py
fail_under = 80
show_missing = True
skip_covered = True
